:root {
  --blue : #428CFC; 
  --lightgrey : #EBEEF2;
  --darkgrey : #A0A0A0;
  --white : #FFFFFF;
  --darkblue : #04414E;
  --darkblue2: #428CFC;
  --deepred : #9e0101;
}



html {
  box-sizing: border-box;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  
   
  background-image: url(../Images/New_Medicbg.svg);
  background-origin: content-box ;  
  
  min-height: cal(100vh - 100px);
  margin: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}